<% include ../partitials/header %>
</head>
<body>
<% include ../partitials/gnb %>
<h1>회원가입약관</h1>
<div class="register-group center-block">
    <form class="form-horizontal" method="POST" action="/member/register_form">
        <div class="form-group">
            <label class="control-label">회원가입약관</label>
            <textarea style="width: 98%;height:200px" rows="5" readonly="" class="form-control">제1장 총 칙
제1조 (목적)

이 약관은 미떼언더레인지가 운영하는 홈페이지(이하 "회사"라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버회사와 이용자의 권리·의무 및 책임사항을 규정하는데 그 목적이 있습니다.


제2조 (정의)

① "회사" 란 미떼언더레인지가 재화 또는 용역을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 또는 용역을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버회사를 운영하는 사업자의 의미로도 사용됩니다.
② "이용자"란 "회사"에 접속하여 이 약관에 따라 "회사"가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
③ "회원"이라 함은 "회사"에 개인정보를 제공하여 회원등록을 한 자로서, "회사"의 정보를 지속적으로 제공 받으며, "회사"가 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
④ "비회원"이라 함은 회원에 가입하지 않고, "회사"가 제공하는 서비스를 이용하는자를 말합니다.


제3조 (약관의 명시와 개정)

① "회사"는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편 주소 등)등을 이용자가 알 수 있도록 "회사"의 초기 서비스화면(전면)에 게시합니다.
② "회사"는 약관의 규제에관한법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진등에관한법률, 방문판매등에관한법률, 소비자보호법 등 관련법을 위배하지않는 범위에서 이 약관을 개정할 수 있습니다.
③ "회사"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 회사의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.
④ "회사"가 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 원할 경우에는, 제3항에 의한 개정약관의 공지기간 내에 '회사"에 송신하여"회사"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
⑤ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 전자거래소비자보호지침 및 관계법령 또는 상관례에 따릅니다.


제4조 (서비스의 제공 및 변경)

1.미떼언더레인지는 다음 각호의 서비스를 제공합니다.
① 사이트에서 도우미서비스에 대한 정보의 제공 및 도우미서비스 신청계약 체결
② 이용고객이 신청한 도우미서비스에 적합한 회원(도우미) 보급
③ 기타 미떼언더레인지가 가정하는 서비스
2.미떼언더레인지는 사정에 따라서 제공하는 서비스의 내용을 변경할 수 있습니다.
3.다만, 제2항의 사유로 서비스 내용이 변경되는 경우 미떼언더레인지는 이로 인하여 이용자의 손해가 없도록 최선을 다합니다.


제5조 (서비스의 중단)


1. "회사"는 컴퓨터 등 정보통신설비의 보수점검·교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
2. 제1항에 의한 서비스 중단의 경우에는 "회사"는 제8조에 정한 방법으로 이용자에게 통지합니다.
3. "회사"는 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단 "회사"에 고의 또는 과실이 없는 경우에는 그러하지 아니합니다.


제6조 (회원가입)

① 이용자는 "회사"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.
② "회사"는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음과 같은 사항에 해당하지 않는 한 회원으로 등록합니다.
1. 가입신청자가 이 약관 제7조제3항에 의하여 이전에 회원자격을 상실한 적이있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 3년이 경과한 자로서"회사"의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
2. 등록 내용에 허위, 기재누락, 오기가 있는 경우
3. 기타 회원으로 등록하는 것이 "회사"의 기술상 현저히 지장이 있다고 판단되는 경우
③ 회원가입계약의 성립시기는 "회사"의 승낙이 회원에게 도달한 시점으로 합니다.
④ 회원은 제15조 제1항에 의한 등록사항에 변경이 있는 경우, 즉시 전자우편 기타 방법으로 "회사"에 대하여 그 변경사항을 알려야 합니다.
⑤ 14세 미만은 청소년윤리보호규정에 의해 법정 대리인의 동의가 필요합니다.


제7조 (회원탈퇴 및 자격 상실 등)

① 회원은 "회사"에 언제든지 탈퇴를 요청할 수 있으며 "회사"는 즉시 회원탈퇴를 처리합니다.
② 회원이 다음과 같은 사유에 해당하는 경우, "회사"는 회원자격을 제한하거나 정지시킬 수 있습니다.
1. 가입 신청시에 허위 내용을 등록한 경우
2. "회사"를 이용하여 구입한 재화·용역 등의 대금, 기타 "회사"가용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
3. 다른 사람의 "회사" 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를위협하는 경우
4. "회사"를 이용하여 법령과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하는 경우
③ "회사"가 회원 자격을 제한·정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "회사"는 회원자격을 상실시킬 수 있습니다.
④ "회사"가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 소명할 기회를 부여합니다.


제8조 (회원에 대한 통지)

① "회사"가 회원에 대한 통지를 하는 경우, 회원이 "회사"에 기재한 전자우편 주소로할 수 있습니다..
② "회사"는 불특정다수 회원에 대한 통지의 경우, 7일 이상 "회사" 게시판에 게시함으로써, 개별 통지를 대신할 수 있습니다.


제9조 (계약의 성립)

① "회사"는 서비스 신청에 대하여 다음과 같은 사항에 해당하지 않는 한 승낙합니다.
1. 신청 내용에 허위, 기재누락, 오기가 있는 경우
2. 기타 서비스신청에 승낙하는 것이 "회사" 기술상 현저히 지장이 있다고 판단하는 경우
② "회사"의 승낙이 제11조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.


제10조 (지급방법)

"회사"에서 서비스한 도우미에 대한 대금지급방법은 다음과 같을 수 있습니다.
1. 계좌이체
2. 온라인무통장입금
3. 기타 "회사"가 인정하는 결제수단 등


제11조 (수신확인통지·서비스 신청 변경 및 취소)

① "회사"는 이용자의 서비스 신청이 있는 경우 이용자에게 수신확인통지를 합니다.
② 수신확인통지를 받은 이용자는 의사표시의 불일치등이 있는 경우에는 수신확인통지를 받은 후 즉시 서비스신청 변경 및 취소를 요청할 수 있습니다.


제12조 (도우미서비스 계약, 지급방법 및 취소)

① "회사"는 도우미서비스신청에 대하여 다음의 사항에 해당하지않는 한 승낙합니다.
1. 신청 내용에 허위,기재누락,오기가 있는 경우
2. 기타 도우미서비스 신청에 승낙하는 것이 "회사"의 기술상 현저히 지장이 있다고판단하는 경우
② 이용고객이 도우미서비스 신청후 계약금(서비스이용금액의 30%)을 입금한사실에 대해 확인한 시점에 계약이 성립한 것으로 봅니다.
③ "회사"에 신청한 도우미서비스에 "회사"에서 인정한 대금지급 방법은 제 13조 1항, 2항 중 하나로 할 수 있습니다.


제13조 (대금지급방법 및 취소,환불)

1. "회사"가 지정하는 은행계좌에 계좌이체
2. "회사"가 지정하는 은행계좌에 온라인 무통장입금
3. 대금지급 완료시기는 서비스진행일 2일전 잔금에 해당하는 금액이 무통장입금된사실을 확인하여 정식계약으로 인정하며, 2일전까지 잔금이 입금되지 않은 경우 1회 이용자에게 통보하며 행사시간 기준으로 24시간 전에 입금이 되지 않을 경우 사용자가 계약을 파기한 것으로 인정하고 계약금은 반환하지 않습니다.
4. "회사"가 고객의 서비스신청 해지 및 취소 요청이 있는 때에는 즉시 그 요청에 따라 처리하며, 행사시간 기준으로 2주전 계약을 취소할 경우 50% 환불, 2주 ~ 행사시간전 계약을 취소할 경우 계약금은 활불하지 않습니다. 행사당일 불가피한 사정으로 도우미회원이 참석을 못했을 경우 인원에 해당하는 서비스비용을 환불합니다.


제14조 (회원정보의 사용 및 보호)

① 회원의 개인정보를 수집하는 때에는 당해 이용자의 동의를 받습니다.
② 제공된 개인정보는 목적 외의 이용 및 회원의 동의 없이 제3자에게 제공하지 않겠습니다.
③ 다만, 다음의 경우에는 예외로 합니다.
1. 도우미서비스를 신청하는 이용고객에게 회원의 정보를 알려주는 경우
2. 통계작성, 홍보자료, 경영분석의 목적으로 성명 및 주민등록번호 등을 제외한 개인식별이 불가능한 정보제공
④ 이용자는 언제든지 "회사"가 가지고 있는 자신의 개인정보에 대해 열람, 수정,삭제를요청할 수 있으며 "회사"는 이에 대한 처리의무가 있습니다.


제15조 (회사의 의무)

① "회사"는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며,이 약관이 정하는 바에 따라 지속적이고, 안정적으로 서비스를 제공하는데 최선을 다하여야 합니다.
② "회사"는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
③ "회사"가 상품이나 용역에 대하여「표시·광고의공정화에관한법률」제3조 소정의 부당한 표시·광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.
④ "회사"는 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.


제16조 (회원의 ID에 대한 의무)

① 제15조의 경우를 제외한 ID에 관한 관리책임은 회원에게 있습니다.
② 회원은 자신의 ID 제3자에게 이용하게 해서는 안됩니다.
③ 회원이 자신의 ID를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 "회사"에 통보하고 "회사"의 안내가 있는 경우에는 그에 따라야 합니다.


제17조 (이용자의 의무)

이용자는 다음 행위를 하여서는 안됩니다.
1. 신청 또는 변경시 허위내용의 등록
2. "회사"에 게시된 정보의 변경
3. "회사"가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시
4. "회사" 기타 제3자의 저작권 등 지적재산권에 대한 침해
5. "회사" 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
6. 외설 또는 폭력적인 메시지·화상·음성 기타 공서양속에 반하는 정보를 회사에공개 또는 게시하는 행위


제18조 (저작권의 귀속 및 이용제한)

① "회사"가 작성한 저작물에 대한 저작권 기타 지적재산권은 "회사"에 귀속합니다.
② 이용자는 "회사"를 이용함으로써 얻은 정보를 "회사"의 사전 승낙없이 복제, 송신,출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.


제19조 (분쟁해결)

① "회사"는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치·운영합니다.
② "회사"는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.
③ "회사"와 이용자간에 발생한 분쟁은 전자거래기본법 제28조 및 동 시행령 제15조에 의하여 설치된 전자거래분쟁조정위원회의 조정에 따를 수 있습니다.


제20조 (재판권 및 준거법)

① "회사"가 작성한 저작물에 대한 저작권 기타 지적재산권은 "회사"에 귀속합니다.
② "회사"와 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다.



부칙

본 약관은 2009년 10월 25일부터 시행 합니다.
            </textarea>
            <div class="checkbox">
                <label>
                    <input name="check1" type="checkbox" value="checked">
                    회원가입약관을 읽었으며 내용에 동의합니다.
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">개인정보취급방침</label>
            <textarea style="width: 98%;height:200px" rows="5" readonly="" class="form-control">
미떼언더레인지는 귀하의 개인정보보호를 매우 중요시하며, 『정보통신망이용촉진등에관한법률』을 준수하고 있습니다. 미떼언더레인지는 개인정보보호방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. 이 개인정보보호방침의 순서는 다음과 같습니다.

1. 개인정보의 수집목적 및 이용목적
2. 목적외 사용 및 제3자에 대한 제공 및 공유
3. 개인정보 수집에 대한 동의
4. 개인정보관리책임자 및 개인정보관리담당자
5. 개인정보의 수집
6. 쿠키에 의한 개인정보 수집
7. 개인정보의 열람ㆍ정정
8. 동의철회(회원탈퇴)
9. 개인정보의 보유기간 및 이용기간
10. 개인정보침해 관련 상담 및 신고
11. 정책 변경에 따른 공지의무



1. 개인정보의 수집목적 및 이용목적
미떼언더레인지는 이용자 확인, 통계ㆍ분석을 통한 자료로써 귀하의 요청에 맞는 최적의 서비스를 제공하기
위한 목적으로 귀하의 개인정보를 수집ㆍ이용하고 있습니다.
수집하는 개인정보 항목에 따른 구체적인 수집목적 및 이용목적은 다음과 같습니다.

- 이메일주소, 전화번호 : 문의사항에 대한 답변, 불만처리 등을 위한 원활한 의사소통 경로의 확보
- 기타 선택항목 : 개인맞춤 서비스를 제공하기 위한 자료



2. 목적외 사용 및 제3자에 대한 제공 및 공유
미떼언더레인지는 귀하의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 『개인정보의 수집목적 및 이용목적』에서 고지한 범위를 넘어 귀하의 개인정보를 이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다.

귀하의 개인정보를 제공하거나 공유하는 경우에는 사전에 귀하에게 제공받거나 공유하는 자가 누구이며 주된 사업이 무엇인지, 제공 또는 공유되는 개인정보항목이 무엇인지, 개인정보를 제공하거나 공유하는 목적이 무엇인지 등에 대해 개별적으로 전자우편 또는 서면을 통해 고지한 후 이에 대한 동의를 구합니다.

다만, 다음의 경우에는 관련 법령의 규정에 의하여 귀하의 동의없이 개인정보를 제공하는 것이 가능합니다.

- 서비스제공에 따른 요금정산을 위하여 필요한 경우
- 통계작성ㆍ학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우
- 금융실명거래및비밀보장에관한법률, 신용정보의이용및보호에관한법률, 전기통신기본법, 전기통신사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 등 법률에 특별한 규정이 있는 경우



3. 개인정보 수집에 대한 동의
미떼언더레인지는 귀하의 개인정보 수집에 대한 동의를 받고 있습니다.
귀하의 개인정보 수집과 관련하여 미떼언더레인지는 개인정보보호방침 또는 이용약관의 내용을 고지하고 있으며, 귀하가「개인정보취급방침」을 보신 후 고객주문, 고객게시판에 글을 등록하면 개인정보 수집에 대해 동의한 것으로 봅니다.



4. 개인정보관리책임자 및 개인정보관리담당자
귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 미떼언더레인지는 개인정보관리책임자를 두고 있습니다. 개인정보와 관련한 문의사항이 있으시면 아래의 개인정보관리책임자에게 연락주시기 바랍니다. 귀하의 문의사항에 신속하고 성실하게 답변해드리겠습니다.

[ 개인정보관리책임자 ]
- 직 책 : 대표
- E-mail :

[ 개인정보관리담당자 ]
- 직 책 : 대표
- E-mail :



5. 개인정보의 수집
미떼언더레인지는 서비스 이용을 위해 필요한 최소한의 개인정보만을 수집합니다.

귀하가 가자웨딩의 서비스를 이용하기 위해서는 고객주문 또는 고객게시판 작성시 성명, 전화번호, E-mail 주소, 관련내용을 필수적으로 입력하셔야 합니다. 그러나, 선택항목은 이를 입력하지 않더라도 서비스 이용에는 제한이 없습니다.



6. 쿠키에 의한 개인정보 수집
미떼언더레인지는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’를 운용하지 않습니다.



7. 개인정보의 열람ㆍ정정
미떼언더레인지는 회원가입을 받지 않고 있습니다. 이에따라 개인정보의 열람ㆍ정정은 개인정보관리책임자에게 서면, 전화 또는 E-mail로 요청하시기 바라며 요청받은 즉시 지체없이 조치하겠습니다.



8. 동의철회(회원탈퇴)
미떼언더레인지는 회원가입을 받지 않고 있습니다. 이에따라 개인정보 수집 동의 철회를 개인정보관리책임자에게 서면, 전화 또는 E-mail 등으로 연락하시면 지체없이 귀하의 개인정보를 파기하는 등 필요한 조치를 하겠습니다.



9. 개인정보의 보유기간 및 이용기간
미떼언더레인지는 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체없이 파기합니다.

- 온라인상담의 경우 : 고객의 삭제 요청이 있을 경우
- 고객게시판의 경우 : 고객이 작성할 글을 직접 삭제할 경우

다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다.



10. 개인정보침해 관련 상담 및 신고
개인정보침해에 대한 신고, 상담이 필요하신 경우에는 정보통신부 산하 공공기관인 한국정보보호진흥원(KISA)내 개인정보침해신고센터로 문의하시기 바랍니다.

[ 개인정보침해신고센터 ]
- 전화 : (02)1336
- URL : http://www.1336.or.kr


11. 정책 변경에 따른 공지의무
이 개인정보보호방침은 2006년 10월 24일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 변경되는 개인정보보호정책을 시행하기 최소 10일전에 가자웨딩 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.

개인정보보호정책 버전번호: v1.0
개인정보보호정책 시행일자: 2006-10-24             
            </textarea>
            <div class="checkbox">
                <label>
                    <input name="check2" type="checkbox" value="checked">
                    개인정보취급방침을 읽었으며 내용에 동의합니다.
                </label>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">확인</button>
        </div>
    </form>
</div>
<% include ../partitials/footer %>