<% include ../../partitials/header %>
</head>
<body>
<% include ../../partitials/gnb %>
	<h1>Notice</h1>
	<span>Total : 120</span>
	<table class="board table">
		<colgroup>
			<col></col>
			<col style="width:100px"></col>
		</colgroup>
		<thead>
			<tr>
				<th>제목</th>
				<th>작성일</th>
			</tr> 
		</thead> 
		<tbody>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
			<tr> 
			 	<td><a href="#">Mitte 언더렌지 웹사이트 오픈 준비중입니다.</a></td>
			 	<td>2015-12-17</td>
			</tr>
		</tbody> 
	</table>
	<button type="button" class="btn btn-default">글작성</button>
	<nav class="text-center">
	  <ul class="pagination">
	    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#" aria-label="Next"><span aria-hidden="true">&laquo;</span></a></li>
	    <li><a href="#" aria-label="Next"><span aria-hidden="true">&laquo;</span></a></li>
	  </ul>
	</nav>
<% include ../../partitials/footer %>